.hero {
    background: url('../resources/img/hero-banner.jpg') no-repeat center center;
    background-size: cover;
    min-height: 450px;
}

.floating-wrapper {
    margin-top: -250px;
    margin-left: $spacing-unit / 2;
    margin-right: $spacing-unit / 2;
    margin-bottom: $spacing-unit * 2;
}
