.header-wrapper {
    background-color: #1E1E1F;
    border-bottom: 2px solid $accent-color;
    padding: 0 $spacing-unit;
}

.video-wrapper {
    padding: $spacing-unit;
    background-color: #272728;
}

.video-list-wrapper {
    padding: $spacing-unit;
    background-color: #FAFAFA;
}
