.header {
    text-align: center; 
    color: #FFFFFF;
    padding: $spacing-unit/3 0;
    @extend %content;

    .title {
        font-size: type-scale(2);
    }

    .caption {
        font-size: type-scale(0);
    }

    @include media-query($breakpoint-medium) {
        .title, .caption {
            display: inline;
            line-height: line-height(2);
        }

        .title {
            float: left;
            margin-right: $spacing-unit;
        }

        .caption {
            float: right;
            font-size: type-scale(1);
        }

        @extend %clearfix;
    }
}
