.video-list {
    @extend %content;
    h2 {
        margin: 0;
        padding: 10px;
        color: #FFFFFF;
        background-color: #272728;
        border: 1px solid #BBB;
        border-bottom: 2px solid $accent-color;
    }

    .video-list-item {
        cursor: pointer;
        background-color: #F5F5F5;
        padding: 5px 10px;
        border: 1px solid #BBB;
        transition: border-left 0.05s ease-in-out;

        &:not(:last-child) {
            border-bottom: none;
        }

        &:first-child {
            border-top: none;
        }

        &:hover {
            background-color: #DCDCDC;
            border-left: 3px solid lighten($accent-color, 25%);
        }

        &.selected {
            background-color: #343435;
            color: #FFFFFF;
            border-left: 3px solid $accent-color;
        }

    }
}
