.youtube-player {
    max-width: 700px;
    margin: auto;
    box-shadow: 0 15px 42px rgba(0,0,0,0.50), 0 18px 30px rgba(0,0,0,0.30);
    border: 15px solid rgba(32, 32, 32, 0.7);
    border-radius: 5px;

    .iframe-wrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
        background-color: rgba(32, 32, 32, 0.7);

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }

}
