@mixin media-query($device) {
    @media all and (min-width: $device) {
        @content;
    }
}

@function type-scale($level) {
    @return map-get($type-scale, $level);
}

%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
